.page-project .tab-toolbar {
    font-size: 16px;
    padding: 5px 0;
}
.page-project .tab-toolbar .view-owner {
    font-size: 12px;
    vertical-align: text-bottom;
}
.page-project .breadcrums .view-list-item::after {
    content: "/";
    display: inline-block;
    padding: 0 3px;
    color: #888;
}

.page-project .view-tree .view-tree-leaf {
    white-space: nowrap;
}
.page-project .view-tree .view-link:not(:hover) {
    color: #666;
    text-decoration-color: #ccc;
}
.page-project .dir-file-count {
    display: inline-block;
    color: #aaa;
    font-size: 11px;
}
.page-project .dir-file-count .bad {
    display: inline;
    color: #a66;
    font-size: 11px;
}
.page-project .dir-file-count .view-comma-list:not(:empty)::before,
.page-project .dir-file-count .bad::before {
    content: '|';
    padding: 0 4px;
    color: #eee;
}
.page-project .view-tree .unowned-file {
    display: inline;
    color: #a66;
}
